<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493922112661-f92jqvfk1gu4og3s049ic7h278mgcnp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493922112661-f92jqvfk1gu4og3s049ic7h278mgcnp3</string>
	<key>API_KEY</key>
	<string>AIzaSyCkBEMIf6k4avaGzS0SiAE3AUOEt0rk2Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>493922112661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BugiCareUserApp</string>
	<key>PROJECT_ID</key>
	<string>bugicare</string>
	<key>STORAGE_BUCKET</key>
	<string>bugicare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493922112661:ios:77aceab6dc846263c4779c</string>
</dict>
</plist>